/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
 }


a { 
	text-decoration: none;
}

@font-face {
    font-family: Cabin-Regular;
	src: url('../font/Cabin-Regular.otf');
	font-weight:400;
}

@font-face {
    font-family: NotCourierSans;
    src: url('../font/NotCourierSans.otf');
    font-weight:400;
}

.main-color {
	color: #5384D4;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-top: 30px;
}

ul.posts li {
	height: 50px;
}

.color-posts {
	height: 50px;
	width: 20px;
}

ul.posts li p a{
	font-family: Cabin-Regular, cursive;
	font-size: 28px;
	color: #343434;
}

ul.posts li p a:hover{
	color: #9a9a9a;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.title a{
	font-family: NotCourierSans;
	font-size: 66px;
	font-weight: bold;
}

.contact p .author{
	font-family: Cabin-Regular, cursive;
	font-size: 34px;
	color: #9a9a9a;
}

.contact i{
	color: #ccc;
}

.contact i:hover{
	color: #9a9a9a;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}


/*****************************************************************************/
/*
/* One post
/*
/*****************************************************************************/

.blog-post h2{
	
	font-family: Cabin-Regular, cursive;
	font-size: 28px;
}
